# This is a basic workflow to help you get started with Actions

name: Build (Ubuntu Host)

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "neutron", "master", "unstable" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    if: "!contains(github.event.commits[0].author, 'Submodule Updater')"
    # The type of runner that the job will run on
    runs-on: ubuntu-22.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false
        
          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: false
          docker-images: true
          swap-storage: true
        
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        with:
          submodules: "recursive"

      - name: Build
        run: |
          # Install deps
          rustup target add x86_64-unknown-linux-gnu
          rustup target add aarch64-unknown-linux-gnu
          rustup target add x86_64-pc-windows-gnu
          rustup target add x86_64-pc-windows-msvc
          rustup target add x86_64-apple-darwin
          rustup target add aarch64-apple-darwin

          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 18
          export CC=/usr/bin/clang-18 CXX=/usr/bin/clang++-18

          pip install -r neutron/requirements.txt

          # Remove everything we dont want to build
          perl -0777 -i -pe 's/"platforms":\s*\\?\[(?:\\.|[^\\\]])*?\]/"platforms": ["deb", "deb-aarch64", "appimage", "appimage-aarch64"]/gs' resources/config.json

          cd neutron
          python configurator.py --config-file=../resources/config.json -b

      - name: Upload deb package (x86_64)
        uses: actions/upload-artifact@v4
        with:
          # Artifact name
          name: datcord-deb-x86_64
          # A file, directory or wildcard pattern that describes what to upload
          path: neutron/build/datcord-x86_64-*.deb

      - name: Upload deb package (aarch64)
        uses: actions/upload-artifact@v4
        with:
          # Artifact name
          name: datcord-deb-aarch64
          # A file, directory or wildcard pattern that describes what to upload
          path: neutron/build/datcord-aarch64-*.deb

      - name: Upload linux aarch64 tarball
        uses: actions/upload-artifact@v4
        with:
          # Artifact name
          name: datcord-linux-aarch64
          # A file, directory or wildcard pattern that describes what to upload
          path: neutron/build/datcord-linux-aarch64.tar.bz2

      - name: Upload Appimage for x86_64
        uses: actions/upload-artifact@v4
        with:
          # Artifact name
          name: datcord-appimage-x86_64
          # A file, directory or wildcard pattern that describes what to upload
          path: neutron/build/Datcord-x86_64.AppImage
      
      - name: Upload Appimage for aarch64
        uses: actions/upload-artifact@v4
        with:
          # Artifact name
          name: datcord-appimage-aarch64
          # A file, directory or wildcard pattern that describes what to upload
          path: neutron/build/Datcord-aarch64.AppImage
