# This is a basic workflow to help you get started with Actions

name: Build

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "neutron", "master", "unstable" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    if: "!contains(github.event.commits[0].author, 'Submodule Updater')"
    # The type of runner that the job will run on
    runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Add mask
      - name: add log mask
        run: echo "::add-mask::${{ secrets.USERNAME }}"
        
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        with:
          submodules: "recursive"

      - name: Build
        run: |
          cd neutron
          python configurator.py --config-file=../resources/config.json
          cd build
          printf "\nsed -i 's/self.run_as_root(command)//g' mozilla-unified/python/mozboot/mozboot/archlinux.py" >> src/scripts/build/download-firefox-source
          python build.py

      - name: Upload windows installer
        uses: actions/upload-artifact@v4
        with:
          # Artifact name
          name: win64-installer
          # A file, directory or wildcard pattern that describes what to upload
          path: neutron/build/work/appSetup-win64.exe

      - name: Upload linux x86_64 tarball
        uses: actions/upload-artifact@v4
        with:
          # Artifact name
          name: datcord-linux-x86_64
          # A file, directory or wildcard pattern that describes what to upload
          path: neutron/build/datcord-linux-x86_64.tar.bz2

      - name: Upload linux aarch64 tarball
        uses: actions/upload-artifact@v4
        with:
          # Artifact name
          name: datcord-linux-aarch64
          # A file, directory or wildcard pattern that describes what to upload
          path: neutron/build/datcord-linux-aarch64.tar.bz2

      - name: Upload Appimage for x86_64
        uses: actions/upload-artifact@v4
        with:
          # Artifact name
          name: datcord-appimage-x86_64
          # A file, directory or wildcard pattern that describes what to upload
          path: neutron/build/Datcord-x86_64.AppImage
      
      - name: Upload Appimage for aarch64
        uses: actions/upload-artifact@v4
        with:
          # Artifact name
          name: datcord-appimage-aarch64
          # A file, directory or wildcard pattern that describes what to upload
          path: neutron/build/Datcord-aarch64.AppImage

      - name: Upload MacOS aarch64 installer
        uses: actions/upload-artifact@v4
        with:
          # Artifact name
          name: datcord-darwin-aarch64
          # A file, directory or wildcard pattern that describes what to upload
          path: neutron/build/datcord-darwin-aarch64.dmg
          
      - name: Upload MacOS x86_64 installer
        uses: actions/upload-artifact@v4
        with:
          # Artifact name
          name: datcord-darwin-x86_64
          # A file, directory or wildcard pattern that describes what to upload
          path: neutron/build/datcord-darwin-x86_64.dmg
