name: Build (Actions Hosted)

permissions:
  contents: read

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    if: "!contains(github.event.commits[0].author, 'Submodule Updater')"
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: linux-x86_64
            toolchain-name: x86_64-unknown-linux-gnu
            platforms: linux,deb,appimage
            artifact-names: ['datcord-linux-x86_64', 'datcord-deb-x86_64', 'datcord-appimage-x86_64']
            artifact-paths: ['neutron/build/datcord-linux-x86_64.tar.bz2', 'neutron/build/datcord-x86_64-*.deb', 'neutron/build/Datcord-x86_64.AppImage'] 

          - name: linux-aarch64
            toolchain-name: aarch64-unknown-linux-gnu
            platforms: linux-aarch64,deb-aarch64,appimage-aarch64
            artifact-names: ['datcord-linux-aarch64', 'datcord-deb-aarch64', 'datcord-appimage-aarch64']
            artifact-paths: ['neutron/build/datcord-linux-aarch64.tar.bz2', 'neutron/build/datcord-aarch64-*.deb', 'neutron/build/Datcord-aarch64.AppImage']

          - name: darwin-x86_64
            toolchain-name: x86_64-apple-darwin
            platforms: mac-intel
            artifact-names: ['datcord-darwin-x86_64', '', '']
            artifact-paths: ['neutron/build/datcord-darwin-x86_64.dmg', '', '']
        
          - name: darwin-aarch64
            toolchain-name: aarch64-apple-darwin
            platforms: mac-arm
            artifact-names: ['datcord-darwin-aarch64', '', '']
            artifact-paths: ['neutron/build/datcord-darwin-aarch64.dmg', '', '']

          - name: windows-x86_64
            toolchain-name: x86_64-pc-windows-gnu
            platforms: windows
            artifact-names: ['datcord-windows-x86_64', '', '']
            artifact-paths: ['neutron/build/datcord-setup-win64.exe', '', '']

    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false
        
          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: false
          docker-images: true
          swap-storage: false

      - name: Set up sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Restore sccache
        id: sccache-restore
        uses: actions/cache/restore@v4
        with:
          path: ~/.cache/sccache
          key: sccache-${{ matrix.name }}

      - uses: actions/checkout@v3
        with:
          submodules: "recursive"

      - name: Build
        run: |
          # Clear even more disk space
          sudo apt-get remove -y '^aspnetcore-.*'
          sudo apt-get remove -y '^dotnet-.*' --fix-missing
          sudo apt-get remove -y 'php.*' --fix-missing 
          sudo apt-get remove -y '^mongodb-.*' --fix-missing
          sudo apt-get remove -y '^mysql-.*' --fix-missing
          sudo apt-get remove -y azure-cli google-chrome-stable firefox powershell --fix-missing
          sudo apt-get remove -y google-cloud-sdk --fix-missing
          sudo apt-get remove -y google-cloud-cli
          sudo apt-get autoremove -y

          # Create extra swap
          sudo dd if=/dev/zero of=/swapfile_ bs=1024 count=7864320
          sudo mkswap /swapfile_
          sudo chmod 600 /swapfile_
          sudo swapon /swapfile_

          # Patch openssl.cnf for osxcross-macports to enable ripemd160
          sudo bash -c 'sed -i "s/^#openssl_conf = openssl_init/openssl_conf = openssl_init/g" /etc/ssl/openssl.cnf' 
          sudo bash -c 'sed -i "s/^\[provider_sect\]/\[provider_sect\]\nlegacy = legacy_sect/g" /etc/ssl/openssl.cnf'
          sudo bash -c 'sed -i "s/^# activate = 1/activate = 1/g" /etc/ssl/openssl.cnf'
          sudo bash -c 'printf "\n[legacy_sect]\nactivate = 1\n" >> /etc/ssl/openssl.cnf'

          # Install deps
          rustup target add ${{ matrix.toolchain-name }}

          sudo apt install alsa pkg-config libssl-dev debhelper

          if [ "${{ matrix.name }}" = "linux-aarch64" ]; then
            sudo apt install gcc-aarch64-linux-gnu
          fi

          if [ "${{ matrix.name }}" = "linux-aarch64" ] || [ "${{ matrix.name }}" = "linux-x86_64" ]; then
            wget https://github.com/AppImage/appimagetool/releases/download/continuous/appimagetool-x86_64.AppImage
            chmod +x appimagetool-x86_64.AppImage
            sudo ln -s $PWD/appimagetool-x86_64.AppImage /usr/bin/appimagetool || true
          fi

          if [ "${{ matrix.name }}" = "windows-x86_64" ]; then
            sudo apt install binutils-mingw-w64-x86-64 gcc-mingw-w64-x86-64 g++-mingw-w64-x86-64 msitools
          fi

          sudo apt-get clean

          unset CC CXX

          printf "\n\noverride_dh_strip:\n\t#nop" >> neutron/src/packages/debian/rules

          pip install -r neutron/requirements.txt
          
          cd neutron
          python configurator.py --config-file=../resources/config.json -p ${{ matrix.platforms }} -b

          # Remove swapfile
          sudo swapoff /swapfile_ || true
          sudo rm -f /swapfile_ || true

      - name: Upload sccache
        uses: actions/cache/save@v4
        if: always()
        with:
          path: ~/.cache/sccache
          key: sccache-${{ matrix.name }}

      - name: Upload artifact 1
        if: ${{ matrix['artifact-paths'][0] != '' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix['artifact-names'][0] }}
          path: ${{ matrix['artifact-paths'][0] }}

      - name: Upload artifact 2
        if: ${{ matrix['artifact-paths'][1] != '' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix['artifact-names'][1] }}
          path: ${{ matrix['artifact-paths'][1] }}

      - name: Upload artifact 3
        if: ${{ matrix['artifact-paths'][2] != '' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix['artifact-names'][2] }}
          path: ${{ matrix['artifact-paths'][2] }}
